<div class="container center">
  <div class="container content-left">
    <label class="mat-title">Select an Image:</label>
    <mat-action-list>
      <button mat-list-item *ngFor="let image of images"
              (click)="reset(); getSelectedImage(image.link); this.name=image.name"> {{ image.name }}
      </button>
    </mat-action-list>
  </div>
  <div class="container content-right">
    <p><img src="{{ imageToShow }}" alt=""></p>
    <form class="input-form">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Contrast</mat-label>
        <input matInput max="65535" min="0" type="number" placeholder="0-65535" name="white-point" [(ngModel)]="contrastInput">
      </mat-form-field>
      <mat-form-field class="input" appearance="fill">
        <mat-label>Hue</mat-label>
        <input matInput max="255" min="0" type="number" placeholder="0-255" name="hue" [(ngModel)]="hueInput">
      </mat-form-field>
      <p><button mat-raised-button color="primary" type="submit" (click)="getModifiedImage()">Submit</button></p>
    </form>
  </div>
</div>
